body {
    background-color: rgb(255, 182, 198);
}
p {
    color: rgb(153, 35, 64);
}
h1 {
    font-style: calc();
}
.tingnigning {
    color: hotpink;
    font-size: 20px ;
}
.img1 {
    width: 40%;
}