body {
    background-color: rgb(255, 182, 198);
    text-align: center;
}
p {
    color: rgb(167, 46, 106);
}
h1 {
    font-style: calc();
}
.tingnigning {
    color: hotpink;
    font-size: 40px ;
}
.img1 {
    width: 40%;
}