body {
    background-color: rgb(255, 182, 198);
    text-align: center;
}
p {
    color: rgb(170, 53, 112);
}
h1 {
    font-style: oblique;
}
.tingnigning {
    color: hotpink;
    font-size: 50px ;
}
.img1 {
    width: 30%;
}